@model List<Faq>
@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("VcSubheader", new { PageName = "FAQ" })
<section id="faq-section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <div class="box-all">
                        <div class="box-heading">
                            <h3>@item.Topic</h3>
                        </div>
                        <div class="box-content">
                            <div class="accordion">
                                <div class="accordion-all">
                                    @{ int t = 1;}
                                    @foreach (var item2 in item.FaqParts)
                                    {
                                        <div class="accordion-topic">
                                            <p>
                                                @item2.Question
                                            </p>
                                            <span id="box-icon" class="box-icon"><img src="~/dist/img/arrow-down.png" alt=""></span>
                                        </div>
                                        <div id="acc-cont@(t)" class="accordion-content">
                                            <p>@item2.Text</p>
                                        </div>
                                        t++;
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>



