@model Office
@{
    ViewData["Title"] = "Update";
}

<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Update Office
    </h2>
</div>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 lg:col-span-6">
        <!-- BEGIN: Form Layout -->
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" style="color:red; margin-bottom:30px;"></div>
            <div class="intro-y box p-5">
                <input asp-for="Id" hidden />
                <input asp-for="Img" hidden />
                <div>
                    <label asp-for="ImageFile">Image</label>
                    <input asp-for="ImageFile" class="input w-full border mt-2">
                </div>
                <div>
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="input w-full border mt-2" placeholder="Input text">
                </div>
                <div>
                    <label asp-for="Address">Address</label>
                    <input asp-for="Address" class="input w-full border mt-2" placeholder="Input text">
                </div>
                <div>
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="input w-full border mt-2" placeholder="Input text">
                </div>
                <div>
                    <label asp-for="Link">Link</label>
                    <input asp-for="Link" class="input w-full border mt-2" placeholder="Input text">
                </div>
                <div>
                    <label asp-for="Phone">Phone</label>
                    <input asp-for="Phone" class="input w-full border mt-2" placeholder="Input text">
                </div>
                <div>
                    <label asp-for="Brochure">Brochure</label>
                    <input asp-for="Brochure" class="input w-full border mt-2" placeholder="Input text">
                </div>
                <div class="text-right mt-5">
                    <a asp-area="admin" asp-controller="Office" asp-action="index" class="button w-24 border text-gray-700 mr-1">Cancel</a>
                    <button type="submit" class="button w-24 bg-theme-1 text-white">Update</button>
                </div>
            </div>
        </form>
        <!-- END: Form Layout -->
    </div>
</div>



