@model Testimonial
@{
    ViewData["Title"] = "Create";
}

<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Create Testimonial
    </h2>
</div>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 lg:col-span-6">
        <!-- BEGIN: Form Layout -->
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" style="color:red; margin-bottom:30px;"></div>
            <div class="intro-y box p-5">
                <div>
                    <label asp-for="Icon">Icon</label>
                    <input asp-for="Icon" class="input w-full border mt-2">
                </div>
                <div>
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" class="input w-full border mt-2">
                </div>
                <div>
                    <label asp-for="Text">Text</label>
                    <input asp-for="Text" class="input w-full border mt-2">
                </div>
                <div>
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="input w-full border mt-2">
                </div>
                <div>
                    <label asp-for="Company">Company</label>
                    <input asp-for="Company" class="input w-full border mt-2">
                </div>

                <div class="text-right mt-5">
                    <a asp-area="admin" asp-controller="Testimonial" asp-action="index" class="button w-24 border text-gray-700 mr-1">Cancel</a>
                    <button type="submit" class="button w-24 bg-theme-1 text-white">Create</button>
                </div>
            </div>
        </form>
        <!-- END: Form Layout -->
    </div>
</div>

